*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    text-align: center;
    font-size: 25px;
}

.image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    height: auto;
    width: 40%;
}

ul{
    padding-top: 50px;
}

ul li{
    padding-top: 5px;
    padding-bottom: 5px;
}

ul li a, a{
    text-decoration: none;
    color: crimson;
}

.back-button{
    font-size: 30px;
    background-color: blue;
    margin-top: 30px;
    margin-bottom: 30px;
}
